###### Question 1

Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.<br>
Examples<br>
is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

In [1]:
def is_symmetrical(num):
    if str(num) == str(num)[::-1]:
        print(f"is_symmetrical({num}) -----> {True}")
    else:
        print(f"is_symmetrical({num}) -----> {False}")

In [2]:
is_symmetrical(7227)

is_symmetrical(7227) -----> True

In [3]:
is_symmetrical(12567)

is_symmetrical(12567) -----> False

In [4]:
is_symmetrical(44444444)

is_symmetrical(44444444) -----> True

In [5]:
is_symmetrical(9939)

is_symmetrical(9939) -----> False

In [6]:
is_symmetrical(1112111)

is_symmetrical(1112111) -----> True

###### Question 2

Given a string of numbers separated by a comma and space, return the product of the numbers.<br>
Examples<br>
multiply_nums("2, 3") ➞ 6

multiply_nums("1, 2, 3, 4") ➞ 24

multiply_nums("54, 75, 453, 0") ➞ 0

multiply_nums("10, -2") ➞ -20

In [10]:
def multiply_nums(num_int):
    prod = 1
    for i in num_int.split(","):
        prod *= int(i)
    print(f"multiply_nums({num_int}) ------> {prod}")

In [11]:
multiply_nums("2, 3")

multiply_nums(2, 3) ------> 6

In [12]:
multiply_nums("1, 2, 3, 4")

multiply_nums(1, 2, 3, 4) ------> 24

In [13]:
multiply_nums("54, 75, 453, 0")

multiply_nums(54, 75, 453, 0) ------> 0

In [14]:
multiply_nums("10, -2")

multiply_nums(10, -2) ------> -20

###### Question 3

Create a function that squares every digit of a number.<br>
Examples<br>
square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414<br>
Notes<br>
The function receives an integer and must return an integer.<br>

In [19]:
def square_digits(num):
    res = [] 
    for i in str(num):
        res.append(str(int(i)**2))
    print(f"square_digits({num}) ----> {''.join(res)}")

In [20]:
square_digits(9119)

square_digits(9119) ----> 811181

In [21]:
square_digits(2483)

square_digits(2483) ----> 416649

In [22]:
square_digits(3212)

square_digits(3212) ----> 9414

###### Question 4

Create a function that sorts a list and removes all duplicate items from it.<br>
Examples<br>
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [27]:
def setify(lst):
    res = sorted(set(lst))
    print(f"setify({lst}) --> {res}")

In [28]:
setify([1, 3, 3, 5, 5])

setify([1, 3, 3, 5, 5]) --> [1, 3, 5]

In [29]:
setify([4, 4, 4, 4])

setify([4, 4, 4, 4]) --> [4]

In [30]:
setify([5, 7, 8, 9, 10, 15])

setify([5, 7, 8, 9, 10, 15]) --> [5, 7, 8, 9, 10, 15]

In [31]:
setify([3, 3, 3, 2, 1])

setify([3, 3, 3, 2, 1]) --> [1, 2, 3]

##### Question 5
Create a function that returns the mean of all digits.<br>
Examples<br>
mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6<br>
Notes<br>
•	The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).<br>
•	The mean will always be an integer.<br>

In [32]:
def mean(in_num):
    in_list = [int(ele) for ele in str(in_num)]
    out_num = sum(in_list)/len(str(in_num))
    print(f'Mean of {in_num}  ➞ {out_num:.0f}')

In [33]:
mean(42)

Mean of 42  ➞ 3

In [34]:
mean(12345)

Mean of 12345  ➞ 3

In [35]:
mean(666)

Mean of 666  ➞ 6