In [1]:
### Importing libraries
import pandas as pd
import numpy as np
df=pd.read_csv("https://raw.githubusercontent.com/shrikant-temburwar/Wine-Quality-Dataset/master/winequality-red.csv",sep = ';')

In [2]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [3]:
df['quality'].unique()

array([5, 6, 7, 4, 8, 3], dtype=int64)

In [4]:
len(df['quality'].unique())

6

In [5]:
df['quality'].nunique()

6

In [6]:
df['quality'].value_counts()

5    681
6    638
7    199
4     53
8     18
3     10
Name: quality, dtype: int64

In [7]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
fixed acidity,1599.0,8.319637,1.741096,4.60000,7.1000,7.90000,9.200000,15.90000
volatile acidity,1599.0,0.527821,0.179060,0.12000,0.3900,0.52000,0.640000,1.58000
citric acid,1599.0,0.270976,0.194801,0.00000,0.0900,0.26000,0.420000,1.00000
residual sugar,1599.0,2.538806,1.409928,0.90000,1.9000,2.20000,2.600000,15.50000
chlorides,1599.0,0.087467,0.047065,0.01200,0.0700,0.07900,0.090000,0.61100
free sulfur dioxide,1599.0,15.874922,10.460157,1.00000,7.0000,14.00000,21.000000,72.00000
total sulfur dioxide,1599.0,46.467792,32.895324,6.00000,22.0000,38.00000,62.000000,289.00000
density,1599.0,0.996747,0.001887,0.99007,0.9956,0.99675,0.997835,1.00369
pH,1599.0,3.311113,0.154386,2.74000,3.2100,3.31000,3.400000,4.01000
sulphates,1599.0,0.658149,0.169507,0.33000,0.5500,0.62000,0.730000,2.00000
alcohol,1599.0,10.422983,1.065668,8.40000,9.5000,10.20000,11.100000,14.90000
quality,1599.0,5.636023,0.807569,3.00000,5.0000,6.00000,6.000000,8.00000

In [8]:
####CHeck duplicates
df.duplicated().sum()

240

In [9]:
df = df.drop_duplicates()

In [10]:
df.duplicated().sum()

0

In [17]:
X = df.drop("quality",axis=1)

In [18]:
y = df['quality']

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
X_train,X_test, y_train, y_test = train_test_split(X,y,test_size=0.33)

In [21]:
from sklearn.ensemble import AdaBoostClassifier
model = AdaBoostClassifier()

In [22]:
model.fit(X_train,y_train)

AdaBoostClassifier()

In [23]:
y_predict = model.predict(X_test)

In [25]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_predict)

0.5144766146993318

In [30]:
#### Hyper parameter tuning
grid_param = {
    'n_estimators': [90,100,130,150],
    'learning_rate': [0.001,0.01,0.1,0.5]
}

In [31]:
from sklearn.model_selection import GridSearchCV
grid_search = GridSearchCV(estimator =model, param_grid =grid_param, cv=3, verbose=2, n_jobs=-1)

In [32]:
grid_search.fit(X_train,y_train)

Fitting 3 folds for each of 16 candidates, totalling 48 fits

GridSearchCV(cv=3, estimator=AdaBoostClassifier(), n_jobs=-1,
             param_grid={'learning_rate': [0.001, 0.01, 0.1, 0.5],
                         'n_estimators': [90, 100, 130, 150]},
             verbose=2)

In [33]:
grid_search.best_params_

{'learning_rate': 0.01, 'n_estimators': 130}

In [34]:
## learning_rate = 0.01 and n_estimators = 130

from sklearn.ensemble import AdaBoostClassifier
model = AdaBoostClassifier(learning_rate=0.01, n_estimators=130)

In [35]:
model.fit(X_train,y_train)

AdaBoostClassifier(learning_rate=0.01, n_estimators=130)

In [36]:
y_predict = model.predict(X_test)

In [37]:
accuracy_score(y_test,y_predict)

0.5501113585746102